body {
  background: Linen;
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  }
  
input {
border-radius: 36px;
font-size: large;
background: whitesmoke;
color: black;
height: 1cm;
}
button {
border-radius: 36px;
font-size: large;
background: whitesmoke ;
color: black;
height: 1cm;
}
select {
outline: 0;
background: whitesmoke;
color: black;
border-radius: 36px;
width: 6cm;
height: 1cm;
font-size: medium;
}
div {
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
align-items: center;
align-content: center;

}
