<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Iris">
    <title>CovaxTracker</title>
    <link rel="stylesheet" href="\static\icon.css" type="text/css">
    <style>
      body {
      font-size: 30px;
    	text-align: center;
    	font-family: 'IBM Plex Sans', sans-serif;
    	background-color: white;
    	color: white;

      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    }

    @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    }

    input {
      border-radius: 36px;
      font-size: large;
      background: white;
      color: black;
      height: 1cm;
    }
    select {
    outline: 0;
    background: white;
    color: black;
    border-radius: 36px;
    width: 6cm;
    height: 1cm;
    font-size: medium;
    } 
    div {
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 36px;
    font-size: large;
    background: white;
    color: black;
    height: 1cm;
    }
    button {
      border-radius: 36px;
      font-size: large;
      background: white;
      color: black;
      height: 1cm;
    }
    form { 
      margin-left : 30%
    }

    .result { display:none; }
    a[href=""] {
      display: none;
    }
    
    </style>
</head>

<body>
  CovaxTracker <br>
  This webpage provides links to telegram channels that notify you of the availability of Covaxin in your area. To join a channel: <br>
    1) Download and Install Telegram <br>
    2) Select your location from the dropdown list and click on Confirm<br>
    3) Click on the button with the selected location. 
  
  
  <form id="form1" action="/login" method="POST" enctype="multipart/form-data">
    <select id="mySelect" name = "cars">
      <option value="Central Delhi">Central Delhi</option>
      <option value="East Delhi">East Delhi</option>
      <option value="New Delhi">New Delhi</option>
      <option value="North Delhi">North Delhi</option>
      <option value="North East Delhi">North East Delhi</option>
      <option value="North West Delhi">North West Delhi</option>
      <option value="Shahdara">Shahdara</option>
      <option value="South Delhi">South Delhi</option>
      <option value="South East Delhi">South East Delhi</option>
      <option value="South West Delhi">South West Delhi</option>
      <option value="West Delhi">West Delhi</option>
      <option value="Ahmedabad">Ahmedabad</option>
      <option value="Ahmedabad Corporation">Ahmedabad Corporation</option>
      <option value="Amreli">Amreli</option>
      <option value="Anand">Anand</option>
      <option value="Aravalli">Aravalli</option>
      <option value="Banaskantha">Banaskantha</option>
      <option value="Bharuch">Bharuch</option>
      <option value="Bhavnagar">Bhavnagar</option>
      <option value="Bhavnagar Corporation">Bhavnagar Corporation</option>
      <option value="Botad">Botad</option>
      <option value="Chhotaudepur">Chhotaudepur</option>
      <option value="Dahod">Dahod</option>
      <option value="Dang">Dang</option>
      <option value="Devbhumi Dwaraka">Devbhumi Dwaraka</option>
      <option value="Gandhinagar">Gandhinagar</option>
      <option value="Gandhinagar Corporation">Gandhinagar Corporation</option>
      <option value="Gir Somnath">Gir Somnath</option>
      <option value="Jamnagar">Jamnagar</option>
      <option value="Jamnagar Corporation">Jamnagar Corporation</option>
      <option value="Junagadh">Junagadh</option>
      <option value="Junagadh Corporation">Junagadh Corporation</option>
      <option value="Kheda">Kheda</option>
      <option value="Kutch">Kutch</option>
      <option value="Mahisagar">Mahisagar</option>
      <option value="Mehsana">Mehsana</option>
      <option value="Morbi">Morbi</option>
      <option value="Narmada">Narmada</option>
      <option value="Navsari">Navsari</option>
      <option value="Panchmahal">Panchmahal</option>
      <option value="Patan">Patan</option>
      <option value="Porbandar">Porbandar</option>
      <option value="Rajkot">Rajkot</option>
      <option value="Rajkot Corporation">Rajkot Corporation</option>
      <option value="Sabarkantha">Sabarkantha</option>
      <option value="Surat">Surat</option>
      <option value="Surat Corporation">Surat Corporation</option>
      <option value="Surendranagar">Surendranagar</option>
      <option value="Tapi">Tapi</option>
      <option value="Vadodara">Vadodara</option>
      <option value="Vadodara Corporation">Vadodara Corporation</option>
      <option value="Valsad">Valsad</option>
      <option value="Ahmednagar">Ahmednagar</option>
      <option value="Akola">Akola</option>
      <option value="Amravati">Amravati</option>
      <option value="Aurangabad ">Aurangabad </option>
      <option value="Beed">Beed</option>
      <option value="Bhandara">Bhandara</option>
      <option value="Buldhana">Buldhana</option>
      <option value="Chandrapur">Chandrapur</option>
      <option value="Dhule">Dhule</option>
      <option value="Gadchiroli">Gadchiroli</option>
      <option value="Gondia">Gondia</option>
      <option value="Hingoli">Hingoli</option>
      <option value="Jalgaon">Jalgaon</option>
      <option value="Jalna">Jalna</option>
      <option value="Kolhapur">Kolhapur</option>
      <option value="Latur">Latur</option>
      <option value="Mumbai">Mumbai</option>
      <option value="Nagpur">Nagpur</option>
      <option value="Nanded">Nanded</option>
      <option value="Nandurbar">Nandurbar</option>
      <option value="Nashik">Nashik</option>
      <option value="Osmanabad">Osmanabad</option>
      <option value="Palghar">Palghar</option>
      <option value="Parbhani">Parbhani</option>
      <option value="Pune">Pune</option>
      <option value="Raigad">Raigad</option>
      <option value="Ratnagiri">Ratnagiri</option>
      <option value="Sangli">Sangli</option>
      <option value="Satara">Satara</option>
      <option value="Sindhudurg">Sindhudurg</option>
      <option value="Solapur">Solapur</option>
      <option value="Thane">Thane</option>
      <option value="Wardha">Wardha</option>
      <option value="Washim">Washim</option>
      <option value="Yavatmal">Yavatmal</option>
      <option value="Aranthangi">Aranthangi</option>
      <option value="Ariyalur">Ariyalur</option>
      <option value="Attur">Attur</option>
      <option value="Chengalpet">Chengalpet</option>
      <option value="Chennai">Chennai</option>
      <option value="Cheyyar">Cheyyar</option>
      <option value="Coimbatore">Coimbatore</option>
      <option value="Cuddalore">Cuddalore</option>
      <option value="Dharmapuri">Dharmapuri</option>
      <option value="Dindigul">Dindigul</option>
      <option value="Erode">Erode</option>
      <option value="Kallakurichi">Kallakurichi</option>
      <option value="Kanchipuram">Kanchipuram</option>
      <option value="Kanyakumari">Kanyakumari</option>
      <option value="Karur">Karur</option>
      <option value="Kovilpatti">Kovilpatti</option>
      <option value="Krishnagiri">Krishnagiri</option>
      <option value="Madurai">Madurai</option>
      <option value="Nagapattinam">Nagapattinam</option>
      <option value="Namakkal">Namakkal</option>
      <option value="Nilgiris">Nilgiris</option>
      <option value="Palani">Palani</option>
      <option value="Paramakudi">Paramakudi</option>
      <option value="Perambalur">Perambalur</option>
      <option value="Poonamallee">Poonamallee</option>
      <option value="Pudukkottai">Pudukkottai</option>
      <option value="Ramanathapuram">Ramanathapuram</option>
      <option value="Ranipet">Ranipet</option>
      <option value="Salem">Salem</option>
      <option value="Sivaganga">Sivaganga</option>
      <option value="Sivakasi">Sivakasi</option>
      <option value="Tenkasi">Tenkasi</option>
      <option value="Thanjavur">Thanjavur</option>
      <option value="Theni">Theni</option>
      <option value="Thoothukudi (Tuticorin)">Thoothukudi (Tuticorin)</option>
      <option value="Tiruchirappalli">Tiruchirappalli</option>
      <option value="Tirunelveli">Tirunelveli</option>
      <option value="Tirupattur">Tirupattur</option>
      <option value="Tiruppur">Tiruppur</option>
      <option value="Tiruvallur">Tiruvallur</option>
      <option value="Tiruvannamalai">Tiruvannamalai</option>
      <option value="Tiruvarur">Tiruvarur</option>
      <option value="Vellore">Vellore</option>
      <option value="Viluppuram">Viluppuram</option>
      <option value="Virudhunagar">Virudhunagar</option>
      <option value="Agar">Agar</option>
      <option value="Alirajpur">Alirajpur</option>
      <option value="Anuppur">Anuppur</option>
      <option value="Ashoknagar">Ashoknagar</option>
      <option value="Balaghat">Balaghat</option>
      <option value="Barwani">Barwani</option>
      <option value="Betul">Betul</option>
      <option value="Bhind">Bhind</option>
      <option value="Bhopal">Bhopal</option>
      <option value="Burhanpur">Burhanpur</option>
      <option value="Chhatarpur">Chhatarpur</option>
      <option value="Chhindwara">Chhindwara</option>
      <option value="Damoh">Damoh</option>
      <option value="Datia">Datia</option>
      <option value="Dewas">Dewas</option>
      <option value="Dhar">Dhar</option>
      <option value="Dindori">Dindori</option>
      <option value="Guna">Guna</option>
      <option value="Gwalior">Gwalior</option>
      <option value="Harda">Harda</option>
      <option value="Hoshangabad">Hoshangabad</option>
      <option value="Indore">Indore</option>
      <option value="Jabalpur">Jabalpur</option>
      <option value="Jhabua">Jhabua</option>
      <option value="Katni">Katni</option>
      <option value="Khandwa">Khandwa</option>
      <option value="Khargone">Khargone</option>
      <option value="Mandla">Mandla</option>
      <option value="Mandsaur">Mandsaur</option>
      <option value="Morena">Morena</option>
      <option value="Narsinghpur">Narsinghpur</option>
      <option value="Neemuch">Neemuch</option>
      <option value="Panna">Panna</option>
      <option value="Raisen">Raisen</option>
      <option value="Rajgarh">Rajgarh</option>
      <option value="Ratlam">Ratlam</option>
      <option value="Rewa">Rewa</option>
      <option value="Sagar">Sagar</option>
      <option value="Satna">Satna</option>
      <option value="Sehore">Sehore</option>
      <option value="Seoni">Seoni</option>
      <option value="Shahdol">Shahdol</option>
      <option value="Shajapur">Shajapur</option>
      <option value="Sheopur">Sheopur</option>
      <option value="Shivpuri">Shivpuri</option>
      <option value="Sidhi">Sidhi</option>
      <option value="Singrauli">Singrauli</option>
      <option value="Tikamgarh">Tikamgarh</option>
      <option value="Ujjain">Ujjain</option>
      <option value="Umaria">Umaria</option>
      <option value="Vidisha">Vidisha</option>
      
    </select>
    <input type="submit" value="Confirm">
  </form>

  <div id="result">
    <a href= {{rlink}} >
      <button type="submit">{{selection}}</button>
   </a>
  </div>
</body>
</html>
